/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,500&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 1px solid red;
}

button {
  cursor: pointer;
  outline: none;
}

body {
  font-family: Nunito, sans;
  margin: 0 auto;
  /* max-width: 1520px; */
  /*  */
}

.content {
  max-width: 1106px;
  margin: 0 auto;
}

.info_text {
  @apply text-sm md:text-2xl text-text;
}

.page_body {
  background-image: url(./assets/img/headerBg.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-x: right;
  /* overflow-y: hidden; */
  max-width: 1520px;
  margin: 0 auto;
}

@media screen and (max-width: 1266px) {
  .page_body {
    background-image: url(./assets/img/smallHeader.svg);
    background-size: 90px;
  }

  .imgBg {
    @apply -left-10 -top-7;
  }
}

.imgBg {
  z-index: -2;
  max-width: 100%;
  width: 100px;
}
.btn_shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.ar {
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
}

.offer {
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  min-height: 500px;
}
.access {
  border: 3px solid #1d3c58;
  box-sizing: border-box;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.1));
  border-radius: 34px;
}
.social h1 {
  max-width: 429px;
}
.spot {
  width: 253.22px;
  height: 66px;
  /* left: calc(50% - 253.22px / 2 + 458.11px);
  top: calc(50% - 66px / 2 - 1014px); */

  /* Rentout/Rentout Yellow */

  background: #fdb839;
  border-radius: 20px;
}

.rentOut {
  max-width: 500px;
  letter-spacing: 0.2px;
}
.formGroup {
  @apply md:mr-14 text-center md:text-left;
}

.form-group {
  @apply relative;
}

.formGroup label {
  @apply block md:pb-2 text-lg md:text-2xl pl-7;
  /* line-height: 38px; */
  letter-spacing: 0.2px;
}
.formGroup input {
  @apply px-7 py-2 md:py-4 w-full text-sm md:text-2xl focus:outline-none;

  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  max-width: 544.61px;
  line-height: 38px;
  letter-spacing: 0.2px;
}

form button {
  @apply py-5;
  border-radius: 50px;
}

.icon {
  @apply absolute top-3/4 right-1/4 transform -translate-x-1/2 -translate-y-1/2;
}

.social_icons {
  @apply text-2xl text-orange;
  
}

.modal {
  /* @apply; */
  background-color: #c4c4c4a6;
  /* opacity: 0.5;   */
}

.modal-box {
  @apply bg-white absolute rounded-md top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  max-width: 400px;
}
.back-button {
  @apply rounded-lg py-3 px-4 md:text-lg font-bold;
}
.back-button.finish {
  @apply bg-orange text-white mr-4;
}
.back-button.out {
  @apply bg-transparent border;
}

.active {
  @apply text-orange;
}

.que {
  @apply text-lg md:text-2xl leading-9;
}
.review {
  @apply py-4 my-4 text-2xl px-8;
  resize: none;
  outline: none;
  min-height: 148px;
  width: 100%;
  max-width: 545px;
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 33px;
}
.pollButton {
  @apply rounded-2xl md:text-lg font-bold px-4 md:py-4 py-2;
  border: 1px solid;
}

.progress {
  @apply w-full flex md:my-0 my-2 flex-col-reverse md:flex-row;
  max-width: 394px;
}
.progress_title {
  @apply w-full  md:w-5/12;
}

.progress_indicator {
  @apply flex-grow;
}
.progress_indicator {
  @apply flex justify-end items-center flex-grow;
}
.progress_indicator div {
  /* @apply  ; */
  max-height: 6px;
  height: 6px;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer_link {
  @apply inline-block  mr-4 md:mr-8;
}
.header {
  @apply text-2xl text-center md:text-right  md:text-3xl text-primary font-bold;
}
.input {
  @apply text-right text-lg md:text-2xl;
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 33px;
}
/* .gist {
  @apply flex gap-6 flex-wrap mt-4 justify-center;
} */

.gist {
  @apply flex  md:gap-4 flex-wrap gap-6 justify-center md:justify-start items-center pt-8 md:pt-0;
}

.gist .form-group {
  @apply md:w-auto;
}

.gist label {
  @apply text-base m-0 px-5 py-2 cursor-pointer text-center border rounded-full font-bold;
  /* max-width: 16px; */
  min-width: 126px;
}

.checkbox:checked + icon {
  @apply hidden;
}

.formSticker {
  /* @apply; */

  background-image: url(./assets/img/bgsticker.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.dim-circle {
  animation-delay: 0.1s;
}
.blue-circle {
  animation-delay: 0.2s;
}
.green-circle {
  animation-delay: 0.3s;
}
.red-circle {
  animation-delay: 0.4s;
}

@media screen and (max-width: 768px) {
  .bigMan {
    min-height: 550px;
  }

  .offer {
    background-color: #fab8c5;
    height: auto;
    border-radius: 0;
    min-height: auto;
  }

  .formGroup input {
    max-width: 282px;
  }

  .formSticker {
    /* @apply; */

    background-image: none;
  }
  .social_icons {
    max-width: 244px;
  }
}
