@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

button {
  cursor: pointer;
  outline: none;
}

body {
  font-family: Nunito, sans;
  margin: 0 auto;
  /*  */
}
.content {
  max-width: 1048px;
  margin: 0 auto;
}

.page_body {
  background-image: url(./assets/img/bigCircle.png);
  background-repeat: no-repeat;
  /* background-size: 40%; */
  background-position-x: right;

  max-width: 1440px;
  margin: 0 auto;
}

.imgBg {
  z-index: -2;
  max-width: 100%;
  width: 100px;
}
.btn_shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.btn {
  @apply py-2 px-2 w-48 h-16 flex justify-center items-center font-medium  rounded-md;
  font-size: 19px;
}

.ar {
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  min-height: 576px;
}

@media screen and (max-width: 768px) {
  .page_body {
    background-image: url(./assets/img/halfCircle.png);
    background-size: 240px;
    background-position: right 540px;
    max-width: 100%;
  }
  .bigMan {
    min-height: 550px;
  }
  .ar{
    background: none;
    height: auto;
     border-radius: 0;
  min-height: auto;
  }
}
