@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

button {
  cursor: pointer;
  outline: none;
}

body {
  font-family: Nunito, sans;
  margin: 0 auto;
  /* max-width: 1520px; */
  /*  */
}
.content {
  max-width: 1106px;
  margin: 0 auto;
}

.page_body {
  background-image: url(./assets/img/headerBg.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-x: right;
  overflow-y: hidden;
  max-width: 1520px;
  margin: 0 auto;
}

.imgBg {
  z-index: -2;
  max-width: 100%;
  width: 100px;
}
.btn_shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.btn {
  @apply py-2 px-2 w-48 h-16 flex justify-center items-center font-medium  rounded-md;
  font-size: 19px;
}

.ar {
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  min-height: 500px;
}

.offer {
  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  min-height: 500px;
}
.access {
  border: 3px solid #1d3c58;
  box-sizing: border-box;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.1));
  border-radius: 34px;
}
.social h1 {
  max-width: 429px;
}
.spot {
  width: 253.22px;
  height: 66px;
  /* left: calc(50% - 253.22px / 2 + 458.11px);
  top: calc(50% - 66px / 2 - 1014px); */

  /* Rentout/Rentout Yellow */

  background: #fdb839;
  border-radius: 20px;
}

.rentOut {
  max-width: 500px;
  letter-spacing: 0.2px;
}

.formGroup label {
  @apply block mb-4 md:text-2xl pl-7;
  line-height: 38px;
  letter-spacing: 0.2px;
}
.formGroup input {
  @apply px-7 py-4 w-full text-2xl focus:outline-none;

  background: linear-gradient(
    72.77deg,
    #edeef6 11.72%,
    rgba(237, 238, 246, 0) 98.52%
  );
  border-radius: 50px;
  max-width: 544.61px;
  line-height: 38px;
  letter-spacing: 0.2px;
  
}

form button{
  @apply py-5 ;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .page_body {
    background-image: none;
  }
  .bigMan {
    min-height: 550px;
  }
  .ar {
    background: none;
    height: auto;
    border-radius: 0;
    min-height: auto;
  }
  .offer {
    background-color: #fab8c5;
    height: auto;
    border-radius: 0;
    min-height: auto;
  }
}
